<!-- Page Footer-->
<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Your company &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Design by <a href="https://bootstrapious.com/p/admin-template" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</div>
<!-- JavaScript files-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/admin/vendor/chart.js/Chart.min.js"></script>
<script src="/admin/vendor/jquery-validation/jquery.validate.min.js"></script>
<!-- Main File-->
<script src="/admin/js/front.js"></script>
</body>

</html>