<%- include('header')%>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%- vaga.titulo %></h5>
                            <p class="card-text"><%- vaga.descricao %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('footer')%>